body{
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 200vh;
}
.nav{
  background-color: rgb(196, 73, 73);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}
.nav-left{
  margin-left: 50px;
  
}
input{
    padding: 10px;
    border: 2px solid gray ;
    border-radius: 18px;
    margin-left: 20%;
}  
#texttext{
  width: 400px;
}
.card {
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: 50%;
    margin-top: 40px;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
}
.bybutton{
  width: 30%;
}
#allcard{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}
.img{
  width: 100%; 
  height: 60%; 
}
.divbtt{
  display: flex;
  justify-content: flex-end;
}
.buybutton{
  border: 2px solid rgb(33, 111, 163);
  background-color: rgb(32, 126, 157);
  color: white;
  padding: 10px;
  /* margin-bottom: 5%; */
}