body{
    padding: 0;
    margin: 0;
    height: 400vh;
}
nav{
    background-color:  rgb(196, 73, 73);
    display: flex;
    color: white;
    justify-content: center;
}

form{
    background-color: white;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
}
.title{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    margin: 20px 0px 25px 0px;
    text-align: center;
}
input[type=text]{
    padding: 10px;
    width: 95%;
    margin: 10px 0px;
}
button{
   padding: 10px;
   /* width: 30%; */
   border-radius: 20px;
   margin: 20px 0px 15px 0px;
   border: none;
   color: white;
}
#cancelBttColor{
    background-color: rgb(45, 146, 45);
}
#addBttColor{
    background-color: rgb(66, 141, 167);
}
#deletebtt{
    background-color: rgb(12, 10, 10);
    margin-left: 90px;
    margin-right: 10px;
}
#editbtt{
    background-color: rgb(206, 30, 101);
}
#createEditButton{
    background-color: lightskyblue;
}
#product-view{
    margin-left: 50px;
    width: 990px;
    
}
#table{
    width: 100%;
}
tr{
    margin-left: 30px;
}
.img{
    width: 20%;
    height: 30%;
}
.button {
    display: flex;
}
#sort{
    background-color: green;
}
#sortprice{
    background-color: rgb(225, 86, 35);
}