body{
    padding: 0;
    margin: 0;
    height: 400vh;
}
nav{
    background-color:  rgb(196, 73, 73);
    display: flex;
    color: white;
    justify-content: center;
}

form{
    background-color: white;
    padding: 15px;
    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
}
.title{
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: underline;
    margin: 20px 0px 25px 0px;
    text-align: center;
}
input[type=text]{
    padding: 12px;
    width: 94%;
    margin: 10px 0px;
}
button{
   padding: 10px;
   border-radius: 20px;
   margin: 20px 0px 15px 0px;
   border: none;
   color: white;
}
#cancelBttColor{
    background-color: rgb(45, 146, 45);
}
#addBttColor{
    background-color: rgb(66, 141, 167);
}
#deletebtt{
    background-color: rgb(12, 10, 10);
    margin-left: 90px;
    margin-right: 10px;
}
#editbtt{
    background-color: rgb(206, 30, 101);
}
#createEditButton{
    background-color: rgb(22, 116, 174);
}
#product-view{
    margin: auto;
    width: 990px;
}
#table{
    width: 100%;
}
tr{
    margin-left: 30px;
}
.img{
    width: 20%;
    height: 30%;
}
.button {
    display: flex;
}
#sort{
    background-color: green;
}
#sortprice{
    background-color:white;
}
input[type=number] {
    padding: 12px;
    width: 94%;
  }
dialog{
    width: 30%;
    border: 3px solid rgb(174, 32, 32);
  }
  menu{
    display: flex;
    justify-content: space-between;
  }
  .title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(160, 24, 24);
  }